.slick-dots.slick-thumb li {
    width: 80px;
    height: 80px; 
    top: 90px;
    border: 1px solid white;
    background-color: white;
    overflow: hidden;
  }
  
  .slick-dots.slick-thumb li.slick-active {
    border: 1px solid black;
    width: 80px;
  }
  
  @media screen and (max-width: 992px) {
    .slick-dots.slick-thumb li {
      width: 60px;
      height: 60px; 
      top: 70px;
      border: 1px solid white;
      background-color: white;
      overflow: hidden;
    }
    .slick-dots.slick-thumb li.slick-active {
      border: 1px solid black;
      width: 60px;
    }
  }

  @media screen and (max-width: 600px) {
    .slick-dots.slick-thumb li {
      width: 30px;
      height: 30px; 
      top: 40px;
      border: 1px solid white;
      background-color: white;
      overflow: hidden;
    }
    .slick-dots.slick-thumb li.slick-active {
      border: 1px solid black;
      width: 30px;
    }
  }