@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(../public/assets/styles/Carousel.css);
@import url(../public/assets/styles/Offers.css);
@import url(../public/assets/styles/Products.css);
@import url(../public/assets/styles/DetailsProdustPhoto.css);
@import url(../public/assets/styles/FixedNavbar.css);
@import url(../public/assets/styles/MobailHeader.css);
@tailwind base;
@tailwind components;
@tailwind utilities;




.product-slider-img img {
  object-fit: cover;
}

::-webkit-scrollbar {
  width: 12px;
  height: 9px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #014E9C;
  border: 0px none #014E9C;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #014E9C;
}

::-webkit-scrollbar-thumb:active {
  background: #014E9C;
}

::-webkit-scrollbar-track {
  background: #cccccc;
  border: 0px none #014E9C;
  border-radius: 100px;
}

::-webkit-scrollbar-track:hover {
  background: #cccccc;
}

::-webkit-scrollbar-track:active {
  background: #cccccc;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.line-clamp {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  -webkit-box-pack: end;
}