@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
$c1: #4baa50;
$bg1:#161616;
$bg2 :#1e1e1e;
$fnt_color1 :#c3c3c3;
$fnt_color2:white;
$fnt_color4: rgba(206, 194, 194, 0.836);
$fnt_color5:rgb(196, 4, 4);
$fnt_color6:rgb(0, 29, 107);
$fnt_color7:rgb(96, 97, 57);